.status {
  min-height: 30px;
  width: 20px;
}

.item {
  display: flex;
  height: 40px;
  margin-bottom: 3px;
  padding: 5px;
  cursor: pointer;
  width: fit-content;
}

.todo {
  margin-left: 20%;
}

.itemDescription {
  margin-left: 10px;
  line-height: 2.5;
  font-weight: 500;
}

.done {
  background-color: mediumseagreen;
}

.notDone {
  background-color: lightblue;
}

.doing {
  background-color: orange;
}

.inputBox {
  border: 2px solid darkgray;
  width: 290px;
  height: 35px;
  border-radius: 5px;
  font-size: larger;
  font-weight: 545;
}
